<h1>Primeros pasos con raspberry</h1>

<p>Debe descargar un sistema operativo para la raspberry, en éste caso
instalar <strong>Raspbian</strong></p>

<p><a href="https://downloads.raspberrypi.org/raspbian_lite_latest">raspbian</a></p>
